.vkEmailConfirm {
    top: 40%;
    left: 40%;
    width : 600px;
    height : 460px;
    position: fixed;
}

.vkEmailConfirmContainer {
    display: none;
    background: #000;
    height: 100%;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    z-index: 200;
    top: 0;
    left: 0;
}