.error-title {
    font-size: 36px;
    color: #52ba01;
    margin: 80px auto 50px;
    text-align: center;
}

.error-text {
    font-size:20px;
    text-align: center;
    margin:20px auto 100px;
}

.comeback {
    margin: 140px auto 200px;
    font-size:23px;
    text-align: center;
}

.comeback a {
    color:#52ba01;
}

.comeback a:visited {
    color:#52ba01;
}

img.oops {
    top: 3px;
    position: absolute;
    left: 635px;
}

.oopses {
    position:relative;
}