@charset "utf-8";

#advertisementSearchingForm{
    background: #f3f3f3;
    padding: 4px;
    padding-bottom: 24px;
}

aside {
    width: 290px;
    float: right;
}

.wordSearch {
    background: white;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid #d8d8d8;
    padding: 10px;
    padding-bottom: 7px;
    margin-bottom: 10px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    width: 257px;
    outline: none;
}

.wordSearch:focus {
    border: 2px solid #b1ed2f;
}

.cate {
    background: white;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 2px solid #d8d8d8;
    clear: left;
    margin-bottom: 20px;
    padding: 10px;
}

.pcate {
    font-size: 21px;
    padding: 5px;
}

/* buttons */

.search {
    margin-left: 2px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    width: 126px;
    height: 40px;
    box-shadow: 0 4px #5e8a00;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #b1ed2f;
    border: none;
    cursor: pointer;
}

.search:active {
    position:relative;
    top:2px;
    background: #bcfb33;
    -moz-box-shadow: 0 2px #5e8a00; /* Для Firefox */
    -webkit-box-shadow: 0 2px #5e8a00; /* Для Safari и Chrome */
    box-shadow:0 2px #5e8a00;  /* Параметры тени */
}

.search:hover {
    background: #bcfb33;
}

.save, .save-user {
    font-size: 18px;
    text-align: center;
    padding: 9px 7px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #d8d8d8;
    border: none;
    box-shadow: 0 4px #a49e9e;
}

.save:hover, .save-user:hover {
    text-decoration:none;
    background: #e0e0e0;
}

.save:active, .save-user:active {
    position:relative;
    top:2px;
    background: #e0e0e0;
    -moz-box-shadow: 0 2px #e0e0e0; /* Для Firefox */
    -webkit-box-shadow: 0 2px #e0e0e0; /* Для Safari и Chrome */
    box-shadow:0 2px #e0e0e0;  /* Параметры тени */
}

.send {
    margin-bottom: 3px;
    margin-left: 133px;
    color: #565650;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    width: 146px;
    height: 30px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #d8d8d8;
    border: none;
    box-shadow: 0 2px #a49e9e;
    cursor: pointer;
}

.send:hover {
    background: #e0e0e0;
}

.send:active , .ok:active{
    background: #e0e0e0;
    position:relative;
    top:1px;
    background: #e0e0e0;
    -moz-box-shadow: 0 1px #e0e0e0; /* Для Firefox */
    -webkit-box-shadow: 0 1px #e0e0e0; /* Для Safari и Chrome */
    box-shadow:0 1px #e0e0e0;  /* Параметры тени */
}

/* end buttons */

#mailingNewsForm {
    padding: 4px;
    margin-top: 20px;
    background: #f3f3f3;
}

.proLk {
    font-size: 17px;
    padding: 4px 1px 3px;
}

.lkMail {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid #d8d8d8;
    color: #565650;
    padding: 4px 7px 5px;
    margin-bottom: 8px;
    width: 263px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    outline: none;
}

.lkMail:focus {
    border: 2px solid #b1ed2f;
}


.lk {
   position:relative;
}

.errorLk {
    color: red;
    font-size: 14px;
    position:absolute;
    bottom: 100px;
    left: 20px;

}

.error-exchange-message {
    padding-bottom: 40px;
    padding-left: 156px;
}

.vkLikeContainer {
    float: right;
    top: -23px;
    right: -152px;
    position: relative;
}

.editSearchVars {
    margin:0 auto;
    width:60%;
    padding: 30px 0;
}

