.searching-form {
  padding-top: 0px;
}

.user-search {
  outline: 0;
  width: 43%;
  height: 38px;
  padding-left: 20px;
  box-sizing: border-box;

  color: rgb(172, 172, 172);
  border: 2px solid rgb(243, 152, 34);
  border-radius: 100px;
  font-family: mySans;
  font-size: 18px;
  font-weight: bold;
}

.ban-checkbox {
  position: absolute;
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 10px;
  /*background-image: url('../images/emptyCheckbox.png');*/
  /*background-repeat: no-repeat;*/
}

.ban-text {
  cursor: pointer;
  clip: rect(0, 0, 0, 0);
}

.ban-text:before {
  position: relative;
  width: 27px;
  height: 19px;
  top: 3px;
  margin-left: 15px;
  content: " ";
  display: inline-block;
  background-image: url('../images/emptyCheckbox.png');
  background-repeat: no-repeat;
}

.ban-text {
  font-family: boldSans;
  font-size: 16px;
}

.ban-text:hover:before {
  background-position: 0 -50px;
}

.ban-checkbox:checked + .ban-text:hover:before {
  background-position: 0 -200px;
}

.ban-checkbox:checked + .ban-text:before {
  background-position: -200px -200px;
}

.user-search::-webkit-input-placeholder {
  font-family: mySans;
  font-size: 18px;
  font-weight: bold;
}

.search {
  float: right;
}

.user {
  position: relative;
  float: left;
  width: 20%;
  padding: 15px;
  height: 275px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: center;
  list-style-type: none;
  background-color: rgb(255, 255, 255);
}

.user-image {
  display: block;
  width: 110px;
  height: 110px;
  margin: auto;
  border-radius: 100px;
}

.user-email {
  margin-bottom: 0px;
  font-size: 15px;
  text-decoration: underline;
  font-family: mySans;
  color: rgb(47, 47, 47);
}

.registr-date {
  margin-top: 5px;
  font-size: 13px;
  font-family: mySans;
  color: rgb(143, 143, 143);
}