#fancybox-overlay {
  opacity: 0.6;
}

#fancybox-outer {
  background: none;
}

#fancybox-bg-n {
  background: none;
}

#fancybox-bg-ne {
  background: none;
}

#fancybox-bg-e {
  background: none;
}

#fancybox-bg-se {
  background: none;
}

#fancybox-bg-s {
  background: none;
}

#fancybox-bg-sw {
  background: none;
}

#fancybox-bg-w {
  background: none;
}

#fancybox-bg-nw {
  background: none;
}

#entry-form {
  margin: auto;
  height: 400px;
  width: 405px;
  background: transparent;
}

.enter-head {
  height: 35px;
  background-color: rgba(255, 255, 255, 0);
  /*background-color: crimson;*/
}

.tab-text {
  text-align: center;
  font: 18px boldSans;
}

.tab-and-exit {
  float: right;
  display: inline-block;
}

.text-center {
  padding-left: 15px;
  font: 14px boldSans;
}

.vk-cross-circle {
  float: right;

  width: 26px;
  height: 37px;
  cursor: pointer;

  background-position: right top;
  background-image: url("/resources/images/newdesign/circle-cross.png");
  background-repeat: no-repeat;
}

.vk-logo:hover {
  background-image: url("/resources/images/newdesign/vk-hover.png");
}

.vk-cross-circle:hover {
}

.rounded {
  background-color: rgb(248, 184, 50);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  padding-top: 8px;
}

.enter-tab {
  width: 130px;
  height: 35px;
  float: left;
}

.entry-text {
  font: 16px mySans;
  color: rgb(255, 255, 255);
}

.registration-ref {
  margin-right: 50px;
  display: inline-block;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: rgb(243, 152, 34);

  width: 190px;
  height: 35px;
}

.registration-ref:hover {
  background-color: rgb(248, 184, 50);
}

.rounded-button {
  outline: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  width: 370px;
  height: 30px;
  margin-top: 15px;
}

.rounded-button:hover {
  background-color: rgb(223, 83, 70);
}

.form-rounded-button {
  outline: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  width: 370px;
  height: 40px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 15px;
  margin-left: 15px;
  padding-left: 30px;

  border: 2px solid rgb(243, 152, 34);
  background-color: rgb(255, 255, 255);
}

.form-rounded-button:hover {
  outline: 0;
  border: 2px solid rgb(26, 178, 175);
}

.nexchange-mainbg {
  background-color: rgb(248, 184, 50);
}

.entry-form {
  padding-top: 20px;
  height: 310px;
}

.end-form {
  padding-top: 30px;
}

.entry {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;

  background-color: rgb(26, 178, 175);
  border: none;

  width: 146px;
  height: 42px;
  margin-left: 15px;
  padding-left: 20px;
  padding-top: 10px;
  text-decoration: none;

  background-image: url("/resources/images/newdesign/circle-accept.png");
  background-repeat: no-repeat;
  background-position: 16px 9px;
}

.hollow-text {
  font: 18px mySansBold;
  color: rgb(47, 47, 47);
}

.small-tab-text {
  color: white;
  text-align: center;
  font: 15px boldSans;
}

.vk-logo {
  float: right;
  width: 53px;

  background-image: url("/resources/images/newdesign/vk-logo.png");
  background-repeat: no-repeat;
  background-position: right top;

  height: 55px;
}

.vk-logo-text {

  display: inline-block;
  width: 135px;
  margin-top: 15px;
}

.reg-error {
  padding-top: 50px;
  padding-left: 6px;

  color: red;
  font-size: 18px;
}

.reg-accepting {
  padding-top: 50px;
  padding-left: 6px;

  color: green;
  font-size: 18px;
}

.error-msg {
  padding-left: 15px;
  color: red;
  font-size: 18px;

  height: 20px;
}

.text-and-logo {
  padding-top: 20px;
  padding-right: 20px;
  display: inline-block;
  float: right;
}

input[type="email"]::-webkit-input-placeholder {
  line-height: 24px;
  font: 18px mySans;
  color: rgb(172, 172, 172);
}

input[type="email"]::-moz-placeholder {
  line-height: 24px;
  font: 18px mySans;
  color: rgb(172, 172, 172);
}

input[type="text"]::-webkit-input-placeholder {
  line-height: 24px;
  font: 18px mySans;
  color: rgb(172, 172, 172);
}

input[type="text"]::-moz-placeholder {
  line-height: 24px;
  font: 18px mySans;
  color: rgb(172, 172, 172);
}

