.footer {
  width: 900px;
  margin: 0 auto;
  background: rgb(47,47,47);
}

.footer-text {
  font: normal 14px mySans;
  color: rgb(136,136,136);
  padding-top: 1%;
}

.subtext {
  /*padding-left: 10%;*/
  float: left;
  width: 185px;
}

.end-title {
  float: right;
  padding-right: 10%;
}

.blue-light-text {
  color: rgb(26,178,175);
}

.logo {
  /*padding-top: 1%;*/
  /*padding-left: 25%;*/
  margin-left: 25%;
  margin-top: 1%;
}

.vk-link {
  padding-left: 70%;
}

.end {
  display: inline;
}

.hidden {
  display: none;
}

footer {
  background: rgb(47, 47, 47);
}

@font-face {
  font-family: mySans;
  src:  url('../fonts/pt-sans.regular.ttf');
}

@font-face {
  font-family: boldSans;
  src: url('../fonts/Prosto.ttf');
}

@font-face {
  font-family: myNight;
  src: url('../fonts/Firenight-Regular.ttf');
}