.head-component {
  background-color: rgb(47, 47, 47);
}

.header {
  margin: 0 auto;
  width: 945px;
  min-width: 945px;
  overflow: hidden;
  background-color: rgb(47, 47, 47);
}
.common-size {
  height: 137px;
}
.admin-size {
  height: 184px;
}
.left-top-logo {
  overflow: hidden;
}
.right-top-links {
  height: 32px;
  width: 200px;
  margin-top: 21px;
  color: rgb(136, 136, 136);
  float: right;
  display: inline-block;
}
.registration, .entire {
  text-decoration: none;
  font-family: mySans;
  font-size: 15px;
  color: rgb(136, 136, 136);
}

.exit {
  margin-left: 170px;
  float: left;
  width : 15px;
  height : 20px;
  text-decoration: none;
  background: url("../images/newdesign/auth-exit.png") no-repeat;
}

.head-user-avatar {
  max-height: 25px;
  max-width: 25px;
  border-radius: 100px;
  border: 2px solid rgb(26, 178, 175);
  position: absolute;
  margin-left: 860px;
  margin-top: 15px;
}
.registration-out {
  position:absolute;
  margin-left: 5px;
  
  width: 20px;
  height: 20px;
  background-image: url("/resources/images/newdesign/auth-exit.png");
  background-repeat: no-repeat;
}
.entire {
  background: url(../images/anyUser.png);
  background-size: contain;
  padding-left: 25px;
  background-repeat: no-repeat;
}
.entire-auth {
  position: absolute;
  padding-left: 750px;
  padding-top: 20px;
  display: inline-block;
  text-decoration: none;
  font-family: mySans;
  font-size: 15px;
  color: rgb(136, 136, 136);
}
.entire-auth:hover {
  text-decoration: underline;
  font-family: mySans;
  font-size: 15px;
  color: rgb(223, 83, 70);
}
.registration:hover, .entire:hover {
  text-decoration: underline;
  font-family: mySans;
  font-size: 15px;
  color: rgb(223, 83, 70);
}
.top-image {
  margin-top: 19px;
}
.n-exchange {
  margin-top: 29px;
  margin-left: 14px;
  line-height: 30px;
  text-decoration: none;
  font-family: myNight;
  color: rgb(255, 255, 255);
  float: left;
  font-size: 32px;
}
.common-link {
  float: right;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  font-family: boldSans;
  font-size: 15px;
  color: rgb(248, 184, 50);
  border-radius: 100px;
}
.common-link:hover {
  background-color: rgb(31, 31, 31);
}
.add-advertisement {
  float: right;
  padding-left: 35px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  text-align: center;
  font-family: boldSans;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: url(../images/plus.png);
  background-color: rgb(223, 83, 70);
  background-repeat: no-repeat;
  border-radius: 100px;
  background-position: 5px 7px;
}
.main-links {
  overflow: hidden;
  margin-top: -50px;
}
.add-advertisement:hover {
  background-color: rgb(243, 152, 34);
}
.menu-list {
  float: right;
}
.menu-list li {
  float: right;
  margin-left: 13px;
  font-size: 20px;
  display: inline;
}
.menu-list li a {
  text-decoration: none;
}

.boss-link {
  margin-left: 25px;
  text-decoration: none;
  color: rgb(136, 136, 136);
  font-family: mySans;
  font-size: 16px;
}
.boss-link:hover {
  color: rgb(223, 83, 70);
}

@font-face {
  font-family: mySans;
  font-weight: normal;
  src:  url('../fonts/pt-sans.regular.ttf');
}

@font-face {
  font-family: mySansBold;
  font-weight: bold;
  src:  url('../fonts/pt-sans.regular.ttf');
}

@font-face {
  font-family: boldSans;
  font-weight: normal;
  src: url('../fonts/Prosto.ttf');
}

@font-face {
  font-family: myNight;
  src: url('../fonts/Firenight-Regular.ttf');
}

.vk-like {
  float: right;
}
