.content {
  background-color: rgb(248, 184, 50);
}
.advertisement-list {
  margin: 0 auto;
  width: 1050px;
  overflow: hidden;
}
.searching-form {
  padding-top: 40px;
}
.tag-search {
  outline: 0;
  width: 45%;
  height: 38px;
  padding-left: 20px;
  box-sizing: border-box;

  color: rgb(172, 172, 172);
  border: 2px solid rgb(243, 152, 34);
  border-radius: 100px;
  font-size: 18px;
}
.tag-search:hover {
  outline: 0;
  border: 2px solid rgb(26, 178, 175);;
}
.category-search {
  outline: 0;
  margin-left: 15px;
  width: 40%;
  height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid rgb(243, 152, 34);
  color: rgb(173, 173, 173);
  background-color: rgb(255, 255, 255);
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  font-size: 18px;
  font-family: boldSans;
}
.category-search:hover, .category-search:active {
  outline: 0;
}
.choosen-category {
  color: rgb(0, 0, 0);
}
.underneath {
  margin-top: 30px;
  margin-bottom: 40px;
}
.example {
  line-height: 20px;
  color: rgb(255, 255, 255);
}
.monopoly {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 1px dashed rgb(255, 255, 255);
}
.search {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 25px;
  float: right;
  font-family: boldSans;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(26, 178, 175);
  background-image: url('../images/searchLoup.png');
  background-repeat: no-repeat;
  background-position: 10px 10px;
  border: none;
  border-radius: 100px;
}
.search:hover {
  background-color: rgb(223, 83, 70);
}
.save-search {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  float: right;
  font-family: boldSans;
  font-size: 13px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(243, 152, 34);
  border: none;
  border-radius: 100px;
}
.row {
  overflow: hidden;
}

.advertisement {
  position: relative;
  float: left;
  width: 20%;
  padding: 18px;
  height: 328px;
  margin-right: 15px;
  margin-bottom: 15px;
  list-style-type: none;
  /*  border: 15px solid white;*/
  background-color: rgb(255, 255, 255);
}
.date {
  margin-top: 5px;
  font-size: 13px;
  font-family: mySans;
  color: rgb(143, 143, 143);
}
.name-cover {
  margin-top: 20px;
}
.adv-owner {
  /*  line-height: 60px;*/
  margin-bottom: 50px;
  padding-left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(98, 98, 98);
  text-decoration: none;
  font-size: 15px;
  font-family: mySans;
  background-image: url('../images/changeUser.png');
  background-repeat: no-repeat
}
.adv-owner:hover {
  text-decoration: underline;
}
.adv-name {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: boldSans;
  font-size: 17px;
}
.adv-name:hover {
  color: rgb(223, 83, 70);
}
.adv-image {
  display: block;
  margin-left: auto;
  height: 137px;
  width: 198px;
}
.change-button {
  position: absolute;
  bottom: 10px;
  display: block;
  width: 100px;
  margin-left: 8%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 25px;
  text-decoration: none;
  font-size: 15px;
  font-family: boldSans;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  background-color: rgb(26, 178, 175);
  background-image: url('../images/changeButtonImg.png');
  background-repeat: no-repeat;
  background-position: 10px 9px;
}
.change-button:hover {
  background-color: rgb(223, 83, 70);
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}
.pages {
  text-align: center;
  margin-top: 60px;
}
.pages li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
}
.trine {
  text-decoration: none;
  font-family: boldSans;
  font-size: 30px;
  color: rgb(243, 152, 34);
}
.trine:hover {
  color: rgb(0, 0, 0);
}
.mark {
  background-color: rgb(243, 152, 34);
}
.page-link {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  border-radius: 100px;
  font-family: boldSans;
  font-size: 17px;
  color: rgb(255, 255, 255);
}
.page-link:hover {
  background-color: rgb(243, 152, 34);
}
.to-know {
  margin-top: 35px;
  margin-bottom: 15px;
  font-family: mySans;
  font-size: 14px;
}
.lower-case {
}
.e-mail-field {
  outline: 0;
  margin-bottom: 20px;
  height: 24px;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: rgb(173, 173,173);
  font-family: boldSans;
  font-size: 15px;
  border-radius: 100px;
  border: 2px solid rgb(243, 152, 34);
}
.e-mail-field:hover, .e-mail-field:active {
  outline: 0;
}
.e-mail-submit {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: rgb(255, 255, 255);
  font-family: boldSans;
  font-size: 14px;
  border-radius: 100px;
  background-color: rgb(243, 152, 34);
  border: none;
}
.error-pointer {
  color: red;
  font-size: 14px;
}

@font-face {
  font-family: mySans;
  src:  url('../fonts/pt-sans.regular.ttf');
}

@font-face {
  font-family: boldSans;
  src: url('../fonts/Prosto.ttf');
}