.placing-advert {
  height: 700px;
}

.editing-advert {
  height: 800px;
}

.head-text {
  font: 22px boldSans;
  padding-left: 15px;
  padding-top: 3%;
}

.error-image {
  width: 340px;

  color: rgb(273, 98, 63);
  font: 15px mySans;
  padding-left: 15px;
  padding-top: 20px;
}

.main-content {
  /*max-width: 1000px;*/
  width: 900px;
  margin: 0 auto;
}

.file-button-hollow-text {
  color: rgb(168, 129, 49);
  font: 15px bold mySans;

  padding-top: 7px;
}

.file-current-hollow-text {
  color: rgb(168, 129, 49);
  font: 18px bold mySans;

  padding-left: 20px;
  text-decoration: none;
}

.file-current-hollow-text:hover {
  color: rgb(223, 83, 70);
}

.placing-tag-form-rounded-button {
  outline: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  width: 370px;
  height: 40px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 15px;
  margin-left: 15px;
  padding-left: 30px;

  border: 2px solid rgb(243, 152, 34);
  background-color: rgb(255, 255, 255);
}

.placing-tag-form-rounded-button:hover {
  border: 2px solid rgb(26, 178, 175);
}

.chosen-tags {
  /*padding-left: 650px;*/
  float: right;
  padding-left: 73px;

  height: 300px;
  width: 384px;
}

/*.chosen-tags, .placing-textarea {*/
/*margin-top: 40px;*/
/*}*/

.tag {
  margin-left: 650px;

  font-size: 13px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: rgb(223, 83, 70);
  color: rgb(255, 255, 255);
  border-radius: 100px;
}

.chosen-tag {
  display: inline-block;

  margin-top: 20px;
  margin-left: 5px;

  font-family: "Prosto Sans";
  font-size: 13px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: rgb(223, 83, 70);
  color: rgb(255, 255, 255);
  border-radius: 100px;
}

.cross-circle {
  float: right;
  cursor: pointer;

  margin-top: 25px;

  width: 25px;
  height: 25px;

  background-position: right top;
  background-image: url("/resources/images/newdesign/circle-cross.png");
  background-repeat: no-repeat;
}

.tags-and-textarea {
  display: inline-block;
}

.red-alert-text {
  width: 340px;

  color: rgb(273, 98, 63);
  font: 15px mySans;
  padding-left: 15px;
}

.tip {
  width: 300px;

  color: white;
  font: 15px mySans;
  padding-left: 15px;
}

.red-alert-text-textError {
  width: 300px;

  color: rgb(273, 98, 63);
  font: 15px mySans;
  padding-left: 15px;
}

.category-and-error {
  float: right;
}

.advert-photo {
  display: inline-block;

  max-height: 100px;
  max-width: 100px;
  border-radius: 100px;
  border: 3px solid rgb(26, 178, 175);
}

.tags-and-cross {
  display: inline-block;
}

.form-placing {
  padding-top: 30px;
}

.form-text-button {
  outline: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  width: 370px;
  height: 40px;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 15px;;
  padding-left: 30px;

  border: 2px solid rgb(243, 152, 34);
  background-color: rgb(255, 255, 255);
}

.form-text-button:hover {
  outline: 0;
  border: 2px solid rgb(26, 178, 175);
}

.advertisement-title {
  width: 438px;
}

.placing-file-choose {
  outline: 0;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  width: 438px;
  height: 40px;
  display: inline-block;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-top: 15px;
  padding-left: 30px;

  border: 3px solid rgb(243, 152, 34);
}

.placing-file-and-tags {
  padding-top: 40px;
}

.red-alert-text-tags {
  color: rgb(273, 98, 63);
  font: 15px mySans;

  height: 20px;
  width: 300px;
  padding-left: 45px;
}

.title-and-error {
  display: inline-block;
}

.select-category {
  outline: 0;
  margin-top: 15px;
  width: 360px;
  height: 40px;
  padding-left: 20px;

  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid rgb(243, 152, 34);

  color: rgb(173, 173, 173);
  background-color: rgb(255, 255, 255);
  background-image: url("/resources/images/newdesign/arrow.1.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;

  font-size: 18px;
  font-family: mySans;
}

.select-category:hover {
  border: 2px solid rgb(26, 178, 175);
  background-image: url("/resources/images/newdesign/blue-arrow.png");
}

.choose-tags {
}

.placing-textarea {
  display: inline-block;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  padding-top: 20px;
  height: 200px;
  width: 438px;
  resize: none;
}

.placing-file-choose:hover {
  background: white;
}

.placing-button-file-choose {
  position: relative;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  background-color: rgb(243, 152, 34);
  border: none;

  width: 170px;
  height: 30px;
  font-family: boldSans;
  font-size: 13px;
  /*font: 13px normal boldSans;*/
  color: rgb(255, 255, 255);
}

.placing-file-choose input[type=file] {
  /*.placing-button-file-choose input=*/
  position: absolute;
  top: 0;
  opacity: 0
}

.adding-advert {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  background-color: rgb(26, 178, 175);
  border: none;

  padding-left: 37px;

  width: 167px;
  height: 40px;
  text-decoration: none;

  background-image: url("/resources/images/newdesign/circle-accept.png");
  background-repeat: no-repeat;
  background-position: 16px 9px;
}

.adding-advert:hover {
  background-color: rgb(223, 83, 70);
}

.choose-tags-and-button {
  display: inline-block;
  position: relative;
  float: right;
}

.deleting-text {
  display: inline-block;

  font: 18px bold mySans;
  color: rgb(168, 129, 49);

  padding-left: 17px;
}

.placing-tag-choose {
  width: 360px;
  margin-left: 101px;
}

.file-button-pos {
  margin-left: 160px;
}

.placing-tag-add {
  position: absolute;
  left: 276px;
  bottom: 5px;
  padding-left: 45px;
  padding-top: 7px;

  background-image: url(/resources/images/newdesign/plus-circle.png);
  background-repeat: no-repeat;
  background-position: 15px 6px;
}

.placing-end-button {
  /*display: inline-block;*/
}

.file-choose-placing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  background-color: rgb(243, 152, 34);
  border: none;

  width: 157px;
  height: 30px;
  font-family: "Prosto Sans";
  font-size: 13px;
  /*font: 13px normal boldSans;*/
  color: rgb(255, 255, 255);
}

.file-choose-placing:hover {
  background-color: rgb(223, 83, 70);
}
