.registrationResult {
  background-color: rgb(248, 184, 50);
  height: 400px;
}

.button-goto-main {
    padding-top: 15px;
    text-align: center;
}

.center-text {
  text-align: center;
  padding-right: 100px;
  font: 18px mySans;
}

.to-main-button {
  margin-right: 150px;
  margin-top: 60px;

  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: boldSans;
  font-size: 13px;
  text-decoration: none;
  outline: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(243, 152, 34);
  border: none;
  border-radius: 100px;
}

.to-main-button:hover {
  background-color: rgb(223, 83, 70);
}