.container {
  background-color: rgb(248, 185, 50);
}
.content {
  margin: 0 auto;
  width: 900px;
  background-color: rgb(248, 184, 50);

  height: 650px;
}
.advertisement-container {
}
.information {
  /* width: 50%; */
  float: left;
}
.picture {
  /* width: 50%; */
  float:right;
  /* margin-left: 10px; */
  padding-top:  10px;
}
.title {
  word-wrap: break-word;
  padding-top: 60px;
  width: 600px;
  font-size: 22px;
  font-family: "Prosto Sans";
}
.category {
  font-size: 18px;
  font-family: PTSansBold;
  padding-top: 10px;
}
.who-change {
  font-size: 18px;
  font-family: PTSansBold;
}
.tags {
  font-size: 18px;
  font-family: PTSansBold;
  /*line-height: 60px;*/
  width: 500px;
}
.description {
  padding-top: 10px;
  font-size: 18px;
  font-family: PTSansBold;

  word-wrap: break-word;
  width: 500px;
}

.concrete-category {
  margin-left: 10px;
  font-family: "Prosto Sans";
  color: rgb(223, 83, 70);
}

.tag {  
  margin-left: 10px;
  margin-top: 10px;
  font-family : "Prosto Sans";
  font-size: 13px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: rgb(223, 83, 70);
  color: rgb(255, 255, 255);
  border-radius: 100px;
  display: inline-block;
}

.tag:hover {
  background-color : rgb(243, 152, 34);
}

.change-user {
  margin-left: 10px;
  color: rgb(60, 56, 47);
  background-image: url('../images/changeUser.png');
  background-size: contain;
  padding-left: 17px;
  background-repeat: no-repeat;
  text-decoration: none;
  font-family: PTSansRegular;
  font-size: 13px;
}

.change-user:hover {
  background-image: url('../images/anyUser.png');
  cursor: pointer;
  text-decoration: underline;
}

.current-description {
  width: 500px;
  margin-left: 10px;
  font-family: PTSansRegular;
  font-size: 18px;
  display: inline-block;
}
.thing-picture {
  max-width: 300px;
  max-height: 300px;
  float: left;
}
.change-button {
  padding-top: 400px;
  text-align: center;
}
.change {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 45px;
  padding-right: 25px;
  font-family: "Prosto Sans";
  font-size: 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: url(../images/changeButtonImg.png);
  background-position: 17px 12px;
  background-color: rgb(26, 178, 175);
  background-repeat: no-repeat;
  border-radius: 100px;
}

.change:hover {
  background-color: rgb(223, 83, 70);
}

@font-face {
  font-family: boldSans;
  src: url('../fonts/Prosto.ttf');
}
