@charset "utf-8";

.centerR{
    vertical-align: middle;
    height: 60px;
    font-size: 23px;
    margin: 30px auto 10px;
    width: 1014px;
    background: #f3f3f3;
}

.placeText {
    border-radius: 4px;
   -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid #d8d8d8;
    color: #565650;
    padding: 5px 10px;
    margin-bottom: 8px;
    width: 450px;
    font-size: 20px;
    height: 100px;
    padding: 0 7px;
    outline:none;
    font-family: 'PT Sans', sans-serif;
    resize:none;
}

.pCenter {
    padding: 15px 10px;

}

.star {
    color:red;
}

.error2 {
    color:red;
    font-size:14px;
    position:relative;
}

.pSay {
     padding: 10px 0;
     font-size: 14px;
     color: #9c9c9c;
}

.placeText:focus , .placeTitle:focus  {
     border: 2px solid #b1ed2f;
}

.placeTitle {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid #d8d8d8;
    color: #565650;
    margin-bottom: 8px;
    width: 450px;
    font-size: 20px;
    height:35px;
    padding: 0 7px;
    font-family: 'PT Sans', sans-serif;
    outline:none;
}

.right {
    float: right;
}

.left1 {
    position: relative;
    font-size: 20px;
    padding: 7px 0;
    float: left;
}

.left {
    font-size: 20px;
    padding: 7px 25px 7px 0;
    float: left;
}

.sendAdv{
    float:right;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    width:170px;
    height:40px;
    box-shadow:0 5px #5e8a00;
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background: #b1ed2f;
    border: none;
    cursor: pointer;
}

.sendAdv:active {
    position:relative;
    top:3px;
    background: #bcfb33;
    -moz-box-shadow: 0 2px #5e8a00;
    -webkit-box-shadow: 0 2px #5e8a00;
    box-shadow:0 2px #5e8a00;
}

.sendAdv:hover {
    background: #bcfb33;
}

.no {
    float: left;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    width: 135px;
    height: 40px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #d8d8d8;
    border: none;
    box-shadow: 0 5px #a49e9e;
}

.no:hover {
    background: #e0e0e0;
}

.no:active {
    position:relative;
    top:3px;
    background: #e0e0e0;
    -moz-box-shadow: 0 2px #e0e0e0;
    -webkit-box-shadow: 0 2px #e0e0e0;
    box-shadow:0 2px #e0e0e0;
}

.back {
    float: left;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    padding: 8px 12px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #d8d8d8;
    border: none;
    box-shadow: 0 5px #a49e9e;
}

.back:hover {
    background: #e0e0e0;
    text-decoration:none;
}

.back:active {
    position:relative;
    top:3px;
    background: #e0e0e0;
    -moz-box-shadow: 0 2px #a49e9e;
    -webkit-box-shadow: 0 2px #a49e9e;
    box-shadow:0 2px #e0e0e0;
}

.send-reg {
    color: #3e3e38;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
    width:200px;
    height:40px;
    box-shadow:0 5px #5e8a00;
    border-radius: 4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    background: #b1ed2f;
    border: none;
    cursor: pointer;
}

.send-reg:active {
    position:relative;
    top:3px;
    background: #bcfb33;
    -moz-box-shadow: 0 2px #5e8a00;
    -webkit-box-shadow: 0 2px #5e8a00;
    box-shadow:0 2px #5e8a00;
}

.send-reg:hover {
    background: #bcfb33;
}

.places {
   clear: both;
   padding-top: 20px;
   padding-right: 50px;
}

.cate1{
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border: 2px solid #d8d8d8;
    clear: left;
    padding: 20px 15px;
    position: relative;
    top: 15px;
}

.pcate1{
    font-size: 20px;
    padding:5px;

}

.think {
    clear: both;
    width: 320px;
    height: 40px;
    float: right;
}

input[type="textarea"] {
    width:470px;

}

.postText {
    width: 826px;
}

.postPlace{
    padding-right:0;
}