@charset "utf-8";

.radiobutton {
    display:inline-block;
    width:16px;
    height:16px;
    margin:0 4px 0 0;
    cursor:pointer;
    background:url(../images/radio.png);
}

.radiobutton:checked {
    background:url(../images/radio_selected.png) ;
}

/*input[type="radio"]  + label::before{*/
    /*content:"";*/
    /*display:inline-block;*/
    /*width:16px;*/
    /*height:16px;*/
    /*margin:0 4px 0 0;*/
    /*cursor:pointer;*/
    /*background:url(../images/radio.png);*/
/*}*/

/*input[type="radio"]:checked + label::before {*/
    /*background:url(../images/radio_selected.png) ;*/
/*}*/

/*input[type="radio"]:checked:disabled + label::before {*/
    /*background:url(../images/radio.png);*/
/*}*/

/*input[type="radio"]:disabled + label::before {*/
    /*background:url(../images/radio_selected.png) ;*/
/*}*/
