@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

html {background: #FFFFFF;}
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;
    color:#3e3e38;
}

.centerTop{
    margin:0 auto;
    width:1300px;
    position:relative;
}

.center{
    margin:0 auto;
    width:1014px;
}

header {
    height:150px;
    background-image: url(../images/header.jpg);
}

section {
    width:670px;
    float:left;
}

aside {
    width:325px;
    float:right;
}

.wordSearch {
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border: 1px groove #b1ed2f;
    color: #e1e0e0;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    width: 304px;
}

.wordSearch:focus {
    color: #565650;
}

.vhod {
    position: relative;
    left: 830px;
}

.vhod1{
     color: #b1ed2f;
     padding-right: 90px;
}

.vhod2{
    color: #565650;
}
#logotype {
    font-family: 'Lobster', cursive;
    font-size:47.36px;
    color: #a6d937;
    position:absolute;
    top:.39px;
    left:145px;
}

#lk {
    position:absolute;
    top:22px;
    left:830px;
    width: 330px;
    height: 120px;
    text-align:center;
    background: #f6f6f6;
}

.manage-panel {
    position:relative;
    top:15px;
    margin-left:85px;
    background: #b1ed2f;
    box-shadow:0 3px #76dbb8;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border:none;
    padding: 10px 17px;
    font-size:20px;   /* Текст*/
    text-decoration: none;
    vertical-align: middle;
}

.manage-panel:active {
    padding: 9px 15px;
    background: #76dbb8;
}

.manage-panel:hover {
    text-decoration:none;
    background: #76dbb8;
    border-top-color: #d8d8d8;
}

.going {
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border:1.5px groove #57bb02;
    background:  #b1ed2f;
    padding:5px 10px;
    color: #57bb02;
    cursor: pointer;
}

.going:hover {
    text-decoration:none;
    background: #76dbb8;
}

.going:active {
    padding: 4px 9px;
    background: #76dbb8;
}


.ok {
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border:none;
    background:  #d8d8d8;
    padding:5px 10px;
    font-size:14px;
    cursor: pointer;
}

.ok:hover {
    background: #76dbb8;
}

.ok:active {
    padding: 4px 9px;
    background: #76dbb8;
}

.search{
    float:right;
    width:140px;
    height:40px;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;;
    background: #b1ed2f;
    border: none;
    box-shadow:0 3px #76dbb8;
    cursor: pointer;
}

.search:active {
    width:138px;
    height:33px;
    background: #76dbb8;
}

.search:hover {
    background: #76dbb8;
}


.save{
    float:left;
    width:170px;
    height:40px;
    border-radius: 6px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    background: #d8d8d8;
    border: none;
    box-shadow:0 2px #76dbb8;
}

em {
    color: #aede88;
    padding: 15px 10px;
}

nav {
    height: 75px;
    text-align:center;
}

.pagination {
    float:left;
    padding:55px 10px;

}

.pagination1 {
    float:left;
    padding:60px 10px;

}

.pagination2 {
    float:left;
    padding:60px 10px;
    margin-top:3px;
}

.pageSize{
    padding:5px 10px;
    background: white;
    border: none;
    font-family: 'PT Sans', sans-serif;
    font-size: 18px;


}

.commercialAdvert {
    font: normal 20pt Georgia;
    clear:left;
    margin: 20px 0;
    background-image: url(../images/fix.jpg);
    height:120px;
}

footer {
    height:175px;
    clear:left;
    background:#f3f3f3;
    color:#3e3e38;
}

footer a {
   color: #3e3e38;
   float:left;
   padding:40px;
   font-size: 18px;

}
.footerLink1{
    float:left;
    padding-left: 100px;
}


.sign {
    color: #3e3e38;
    position: absolute;
    left: 950px;
    top: 130px;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
}

.cate{
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border: 2px groove #f3f3f3;
    clear: left;
    padding: 20px 15px;
    position: relative;
    top: 45px;
}

.pcate{
    padding:10px;

}

/*input[type="radio"] {
    display:none;
}

input[type="radio"] +  span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

 input[type="radio"]:checked + span {
     background:url(check_radio_sheet.png) -19px top no-repeat;
 }
       */
#likes {
    position:absolute;
    top:20px;
    left:870px;
    font: normal 14pt Georgia;
    border:3px dotted grey;
    padding:20px;
}

.advertisement-table { 
    float:left;
    width:80%; 
}

.category-table {
    float:right;
    width:20%;
}

.advertisement-table table { 
    text-align:left;
    width: 100%;
    padding: 5px;
}

.category-table table {
    text-align: center;
    width: 100%;
    padding: 5px;
}

.tr1 {
    background:#f3f3f3;
    border: 2px dotted #cdcdcd;
}

table {
     /* width: 300px;  Ширина таблицы
      background: #fffff0;  Цвет фона нечетных строк */
      width: 100%;
      border-collapse: collapse; /* Убираем двойные линии между ячейками */
}

tbody {
      border: 2.5px solid #d8d8d8; /* Рамка вокруг таблицы */
}

thead {
      background:#d8d8d8;
      border-radius: 6px;
      border-color:#d8d8d8;
}

table th {
      height: 60px;
}

table tr {
        color: #3e3e38;
        border-width:1px;
        padding:5px;

}

table td {
    border-width:1px;
    padding:15px 20px;
    height:25px;
 /*   border: 1px dotted #cdcdcd;     */
}

table a{
    color: #3e3e38;
}


a {
    text-decoration:none;
}

a:hover {
    text-decoration: underline;
}

table img {
   /* height:100px;*/
    width:90px;
}

td.date {
    width: 15%;
    color: #9c9c9c;
}

th.date {
    width: 15%;
}

td.photo {
    width: 14%;
}

th.photo {
    width: 14%;
}

td.category {
    width: 16%;
    color: #565650;
}

th.category {
    width: 16%;
}

td.title {
    width: 22%;
    color: #221e1f;
}

th.title {
    width: 22%;
}

td.text {
    width: 33%;
    color: #3e3e38;
}

th.text {
    width: 33%;
    color: #3e3e38;
}
