@charset "utf-8";

.all-tabs {
    margin: 10px auto auto;
    padding-top: 10px;
    width: 1040px;
}

#tabsText {
    list-style: none;
    position: inherit;
    padding: 0;
    margin: 0;
}

#tabsText{
    border:3px solid #e1e1e1;
    clear: both;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 5px;

/*    min-height: 600px;*/
}
#tabsText .profile-tabs {
    background: none repeat scroll 0 0 #FFFFFF;

    padding: 5px;
    position: inherit;
    height: 350px;
    overflow: auto;
    display: none;
    right: 124px;
}
/*******************************************************************/

/*для фотки - аватары*/
.avatar {
    width: 92px;
    height: 92px;
    border: 1px solid #a1a1a1;
    float: left;
}
.avatar img {
    width: 88px;
    height: 88px;
    top: 2px;
    left: 2px;
    position: relative;
}

.controls{
    margin-left: 150px;
}

.control-group:before, .control-group:after {
    content: "";
    display: table;
    line-height: 0;
}
.control-group{
    margin-bottom: 10px;
}

.text-group{
    display: block;
    float: left;
    margin-left: 20px;
    padding-right: 0;
    text-align: left;
    width: 60px;
}

.search-vars {
    clear:left;
    padding-top: 20px;

}

.personal-data {
    left: 150px;
    width: 800px;
    position: inherit;
    padding-left: 30px;
    float:left;
}

.footer-bottom {

    bottom: 0;
}

.userLk {

    vertical-align: middle;
    font-size: 23px;
    background: #f3f3f3;
    margin-top: 5px;
    height: 33px;
    width: 1025px;
    /*margin:auto;*/
    border-top-width: 0;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-top: 9px;

}

/********************************************************/
            #tabs{
              overflow: hidden;
              width: 100%;
              margin: 0;
              padding: 0;
              list-style: none;
            }

            #tabs ul{

                margin-left: 2px;
            }
            #tabs li{
              float: left;
              margin: 0 9px;
            }
            #tabs a{
                 background: none repeat scroll 0 0 #F3F3F3;
                 border-left: 3px solid #E1E1E1;
                 border-radius: 5px 5px 0 0;
                 border-right: 3px solid #E1E1E1;
                 border-top: 3px solid #E1E1E1;
                 float: left;
                 height: 24px;
                 padding: 0.7em 20px;
                 position: relative;
                 text-decoration: none;
            }



            #tabs a:hover,
            #tabs a:hover::after,
            #tabs a:hover::before,
            #tabs a:focus,
            #tabs a:focus::before,
            #tabs a:focus::after{
              background: #e1e1e1;
            }
            #tabs a:focus{
              outline: 0;
            }
            #tabs a::after{
                background: none repeat scroll 0 0 #F3F3F3;
                border-radius: 0 5px 0 0;
                border-right: 3px solid #E1E1E1;
                bottom: 0;
                content: "";
                height: 48px;
                position: absolute;
                right: -6px;
                transform: skew(10deg);
                width: 12px;
                z-index: 1;
            }

            #tabs a::before{
                background: none repeat scroll 0 0 #F3F3F3;
                border-radius: 5px 0 0 0;
                border-left: 3px solid #E1E1E1;
                bottom: 0;
                content: "";
                height: 48px;
                position: absolute;
                left: -6px;
                transform: skew(-10deg);
                width: 12px;
                z-index: 1;
            }

            #tabs #current a,
            #tabs #current a::before,
            #tabs #current a::after{
              background: #fff;
              z-index: 3;
            }
            #content
            {
                background: #fff;
                padding: 2em;
                height: 220px;
                position: relative;
                z-index: 2;
                border-radius: 0 5px 5px 5px;
                box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
            }



/* category in first tab  */

.circle{
    background: #fff;
    height:6px;
    width:6px;
    position: relative;
    float:left;
    top: 15px;
    right: -34px;
    z-index:3;
    border:2px solid grey;
    /* border-radius
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
    border-radius: 5px;
    box-shadow: inset 0 1px 1px 0 rgba(50, 50, 50, 0.75);
}
.nose {
    position:relative;
    right: -4px;
    float: left;
    height:0;
    width:0;
    background: #d0d0d0;
    border-top: 20px solid #ffffff;
    border-bottom: 20px solid #ffffff;
    border-left:10px solid #ffffff;
    border-right: 20px solid #d0d0d0;
}

.category {
    float: left;
    background: #d0d0d0;
    color: #000000;
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
    font-size: 12pt;
    height: 18px;
    /* border-radius
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
    border-radius: 5px;
}
