@charset "utf-8";

.all-tabs {
    margin: 10px auto auto;
    padding-top: 10px;
    width: 1040px;
}

#tabsText {
    list-style: none;
    position: inherit;
    padding: 0;
    margin: 0;
}

#tabsText{
    border:3px solid #e1e1e1;
    clear: both;
    overflow-x: auto;
    overflow-y: auto;
    border-radius: 5px;

/*    min-height: 600px;*/
}
#tabsText .profile-tabs {
    background: none repeat scroll 0 0 #FFFFFF;

    /*padding: 5px;*/
    position: inherit;
    height: 510px;
    overflow: auto;
    display: none;
    right: 124px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}
/*******************************************************************/

/*для фотки - аватары*/
.avatar {
    width: 130px;
    height: 130px;
    border: 1px solid #d8d8d8;
    float: left;
}
.avatar img {
    width: 126px;
    height: 126px;
    top: 2px;
    left: 2px;
    position: relative;
}

.controls{
    margin-left: 150px;
}

.control-group:before, .control-group:after {
    content: "";
    display: table;
    line-height: 0;
}
.control-group{
    margin-bottom: 10px;
}

.text-group{
    display: block;
    float: left;
   /* margin-left: 20px;*/
    padding-right: 0;
    text-align: left;
    width: 60px;
}

.search-vars {
    clear:left;
    padding-top: 20px;

}

.personal-data {
    height: 130px;
    padding-left: 50px;
    float:left;
    color: #3e3e38;
}

.footer-bottom {

    bottom: 0;
}

.userLk {
    vertical-align: middle;
    font-size: 23px;
    background: #f6f6f6;
    margin: auto;
    height: 33px;
    width: 1025px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-top: 9px;
}
.search-vars.userLk-href a{
    color: #52ba00;
}
.userLk-href {
    color: #52ba00;
    text-decoration: underline;
    font-size: 14pt;
    padding: 7px 30px;
    position: inherit;
    top: 10px;
    float: left;

}

/*
.userLk-tab-title {
    float: left;
    padding-right: 10px;
}
*/
/*
.userLk-tab-title a:hover{
    color: #207300;
}
*/
.search-vars table{
    font-size: 16pt;
    border: none;
}
.search-vars tbody{
    border: none;
}
.row {
    background: #f6f6f6;
    border:none;
}
/********************************************************/
            #tabs{
              overflow: hidden;
              width: 100%;
              margin: 0;
              padding: 0;
              list-style: none;
            }

            #tabs ul{

                margin-left: 2px;
            }
            #tabs li{
              float: left;
              margin: 0 9px;
            }
            #tabs a{
                 background: none repeat scroll 0 0 #f6f6f6;
                 border-left: 3px solid #d8d8d8;
                 border-radius: 5px 5px 0 0;
                 border-right: 3px solid #d8d8d8;
                 border-top: 3px solid #d8d8d8;
                 float: left;
                 height: 24px;
                 padding: 0.7em 20px;
                 position: relative;
                 text-decoration: none;
            }



            #tabs a:hover,
            #tabs a:hover::after,
            #tabs a:hover::before,
            #tabs a:focus,
            #tabs a:focus::before,
            #tabs a:focus::after{
              background: #d8d8d8;
            }
            #tabs a:focus{
              outline: 0;
            }
            #tabs a::after{
                background: none repeat scroll 0 0 #f6f6f6;
                border-radius: 0 5px 0 0;
                border-right: 3px solid #d8d8d8;
                bottom: 0;
                content: "";
                height: 48px;
                position: absolute;
                right: -6px;
                -moz-transform: skew(10deg); /* Для Firefox */
                -ms-transform: skew(10deg); /* Для IE */
                -webkit-transform: skew(10deg); /* Для Safari, Chrome, iOS */
                -o-transform: skew(10deg); /* Для Opera */
                transform: skew(10deg);
                width: 12px;
                z-index: 1;
            }

            #tabs a::before{
                background: none repeat scroll 0 0 #f6f6f6;
                border-radius: 5px 0 0 0;
                border-left: 3px solid #d8d8d8;
                bottom: 0;
                content: "";
                height: 48px;
                position: absolute;
                left: -6px;
                -moz-transform: skew(-10deg); /* Для Firefox */
                -ms-transform: skew(-10deg); /* Для IE */
                -webkit-transform: skew(-10deg); /* Для Safari, Chrome, iOS */
                -o-transform: skew(-10deg); /* Для Opera */
                transform: skew(-10deg);
                width: 12px;
                z-index: 1;
            }

            #tabs #current a,
            #tabs #current a::before,
            #tabs #current a::after{
              background: #fff;
              z-index: 3;
            }
            #content
            {
                background: #fff;
                padding: 2em;
                height: 220px;
                position: relative;
                z-index: 2;
                border-radius: 0 5px 5px 5px;
                box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
            }



/* category in first tab  */

.circle{
    background: #fff;
    height:9px;
    width:9px;
    position: relative;
    float:left;
    top: 16px;
    right: -35px;
    z-index:3;
    /* border-radius
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;*/
    border-radius: 6px;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.88);
}
.nose {
    border-color: #FFFFFF #D8D8D8 #FFFFFF #FFFFFF;
    border-style: solid;
    border-width: 22px 22px 22px 11px;
    float: left;
    height: 0;
    position: relative;
    right: -2px;
    width: 0;
    z-index: 2;
}


.category {
    background: none repeat scroll 0 0 #D8D8D8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 1px #000000;
    color: #000000;
    float: left;
    font-size: 12pt;
    height: 22px;
    margin: auto;
    padding: 10px 15px;
    vertical-align: middle;
}


.circle-row{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.88) inset;
    float: left;
    height: 9px;
    position: relative;
    right: -45px;
    top: 17px;
    width: 9px;
    z-index: 3;
}
.nose-row {
    border-color: #F3F3F3 #D8D8D8 #F3F3F3 #F3F3F3;
    border-style: solid;
    border-width: 22px 20px 20px;
    float: left;
    height: 0;
    position: relative;
    right: -2px;
    width: 0;
    z-index: 2;
}

.flower-row {
    float: left;
    left: 10px;
    position: relative;
    top: 12px;
    width: 18px;
}

#Lk-table {
    border: none;
}
/*
#Lk-tbody {
    border: none;
}
*/
.username {
    color: #5ebf11;
    font-size: 16pt;
}

.mediumSizeFont {
    font-size: 16pt;
    color: #3e3e38;
    padding-bottom: 15px;
    padding-top: 20px;
}

.userLk-Lk {
    float: left;
    width: 80%;
}
.userLk-out {
    color: #9C9C9C;
    font-size: 12pt;
    padding-right: 10px;
    text-align: right;
}
#Lk-table td {
    padding: 8px;
    /*vertical-align: middle;*/
}

.userEmail {
    color: #5ebf11;
    font-size: 14pt;
    text-decoration: underline;
}