@charset "utf-8";

.viewTitle {
    height:55px;
    width:100%;
    background: #f3f3f3;
    text-align:center;
}

.viewCategory {
    font-size: 16px;
    padding: 20px 0;
    color: #d0d1cc;         /*!!!!!!!!!!!!!!!!!!!!!!*/
}

.viewCate {
    color: #565650;
    text-decoration: underline;        /*!!!!!!!!!!!!!!!!!!!!!!*/
}

.viewText {
    font-size:20px;
}

.title {                     /*!!!!!!!!!!!!!!!!!!!!!!*/
    font-size:23px;
    color: #52ba01;
    float:left;
    padding: 15px 10px;
}

.date {
    font-size: 16px;
    color: #aaaaaa;
    float: right;
    padding: 20px 10px;
}

.photoCollection img {
 /*  width:170px;  */
   height:120px;

}
.photoCollection {
    padding: 20px 0;

}

.contact img {
    padding:10px;
}

.contact {
    width:  260px;
    height:  140px;
    background: #f6f6f6;
}
