@charset "utf-8";

.viewTitle {
    height:55px;
    width:100%;
    background: #f3f3f3;
    text-align:left;
}

.viewCategory, .viewTags {
    display: inline-block;
    width: 80%;
    font-size: 16px;
    padding: 20px 0;
    color: #d0d1cc;
}

.controlsContainer {
    display: inline-block;
    width: 18%;
}

.categoryAndActions {
}

.approveAdvertisementButton {
    float: right;
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: right;
    margin-left: 16px;
}

.approveAdvertisementButtonImage {
    display: inline-block;
    background-image: url("../images/yes.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;

}
.deleteAdvertisementButton {
    float: right;
    display: inline-block;
    text-align: right;
    margin-left: 16px;
    height: 25px;
    width: 25px;
}

.deleteAdvertisementButtonImage {
    background-image: url("../images/del.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
}

.editAdvertisementButton{
    float: right;
    display: inline-block;
    height: 25px;
    width: 25px;
    text-align: right;
    margin-left: 16px;
}

.editAdvertisementButtonImage {
    background-image: url("../images/edit.png");
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    display: inline-block;
}

.approveAdvertisementButtonImage:hover {
    background-image: url("../images/yes_hover.png");
}

.deleteAdvertisementButtonImage:hover {
    background-image: url("../images/del_hover.png");
}

.editAdvertisementButtonImage:hover {
    background-image: url("../images/edit_hover.png");
}

.viewCate {
    color: #565650;
    text-decoration: underline;        /*!!!!!!!!!!!!!!!!!!!!!!*/
}

.viewText {
    font-size:20px;
}

.title {                     /*!!!!!!!!!!!!!!!!!!!!!!*/
    font-size:23px;
    color: #52ba01;
    float:left;
    padding: 15px 10px;
}

.date {
    font-size: 16px;
    color: #aaaaaa;
    float: right;
    padding: 20px 10px;
}

.photoCollection img {
   /*  width:170px;  */
   height:120px;
}

.photoCollection {
    padding: 20px 0;

}

p.contact {
    color: #52ba01;
}

.logus {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 2px solid #d8d8d8;
    color: #565650;
    margin-bottom: 8px;
    width: 380px;
    font-size: 20px;
    height:35px;
    padding: 0 7px;
    font-family: 'PT Sans', sans-serif;
    outline:none;
}

.logus:focus {
    border: 2px solid #b1ed2f;
}
