.viewTitle {
    height:55px;
    width:100%;
    background: #f3f3f3;
    text-align:center;
}

.viewCategory {
    font-size:14px;
}

/*.photoCollection {

}

.photoCollection + img {


}   */

.contact {
    width:  260px;
    height:  140px;
    background: #f6f6f6;
}