div.hidden
  div#entry-form
    form#enter(method='get').js-entry-form(data-url='#{uri.uri("/new/main.html")}', data-mainurl='#{uri.uri("/new/user/entry.html")}')
      div.enter-head
        div.rounded.enter-tab.tab-text ВХОД
        div.tab-and-exit
          a(href='#registration-form').rounded.registration-ref.tab-text.js-registration  РЕГИСТРАЦИЯ
          a#entry-reject.vk-cross-circle
      div.entry-form.nexchange-mainbg
        div.text-center.entry-text Чтобы обмениваться и размещать свои
        div.text-center.entry-text предложения, войдите или зарегистрируйтесь
        input#entry-email(type='email', placeholder='Ваш e-mail').form-rounded-button.hollow-text
        input#entry-pass(type='password', placeholder='Пароль').form-rounded-button.hollow-text
        div.end-form
          a#entry(href='').rounded-button.entry.small-tab-text.js-entry-complete ВОЙТИ
          div.text-and-logo
            div.entry-text.vk-logo-text Или войдите через
            a(href='').vk-logo.js-vk-entry-complete
        p.reg-error
        p.reg-accepting

