extends layout/layout

block customcss
  link(rel='stylesheet', href='/resources/css/enter.css')

block content
  div#entry-form.form-entry
    form#enter(method='get')
      div.enter-head
        a.rounded.enter.selected ВХОД
        div.tab-and-exit
          a.rounded.registration РЕГИСТРАЦИЯ
          button#reject.vk-cross-circle
      div.entry-form
        div.entry-text Чтобы обмениваться и размещать свои
        div.entry-text предложения, войдите или зарегистрируйтесь
        div
          input(type='email', placeholder='Ваш e-mail').form-rounded-button
        input(type='text', placeholder='Пароль').form-rounded-button
        div
          button#entry.rounded-button.entry ВОЙТИ
          div.text-and-logo
            div.entry-text.vk-logo-text Или войдите через
            a(href='').vk-logo

