div.hidden
  div#entry-form
    form#enter(method='get')
      div.enter-head
        div.rounded.enter-tab.tab-text ВХОД
        div.tab-and-exit
          a(href='#registration-form').rounded.registration-ref.tab-text.js-registration  РЕГИСТРАЦИЯ
          a#reg-reject.vk-cross-circle
      div.entry-form.nexchange-mainbg
        div.text-center.entry-text Чтобы обмениваться и размещать свои
        div.text-center.entry-text предложения, войдите или зарегистрируйтесь
        input(type='email', placeholder='Ваш e-mail').form-rounded-button.hollow-text
        input(type='text', placeholder='Пароль').form-rounded-button.hollow-text
        div.end-form
          a#entry(href='').rounded-button.entry.small-tab-text ВОЙТИ
          div.text-and-logo
            div.entry-text.vk-logo-text Или войдите через
            a(href='').vk-logo
        p.reg-error
        p.reg-accepting

