div.hidden
  div#new-exchange-popup
    form#exchange-form(method='get')
      div.enter-head
          a#exchange-reject.vk-cross-circle
      div.exchange-form.nexchange-mainbg
        div.header-text ОБМЕНЯТЬ НА
        div.user-adverts-table
          table
            tbody
              tr
                td
                  a.chosen-advert
                td
                  div.offer-advert-lotro
                    div.offer-advert-text НАСТОЛЬНАЯ ИГРА ПО ВЛАСТЕЛИНУ КОЛЕЦ
              tr
                td
                  a.chosen-advert
                td
                  div.offer-advert-bones
                    div.offer-advert-text ЗАПАСНОЙ НАБОР КУБИКОВ
        div.text-center.advert-chosen-text Вы выбрали:
        div.text-advert НАСТОЛЬНАЯ ИГРА ПО ВЛАСТЕЛИНУ КОЛЕЦ
        textarea(placeholder="Ваше сообщение владельцу").form-rounded-button.hollow-text.offer-message
        div.end-form
          a#entry(href='').exchange-button ПРЕДЛОЖИТЬ ОБМЕН
