doctype 5
html
  head
    meta(charset='utf-8')
    title Natural Exchange
    link(rel='stylesheet', href='/resources/css/newHead.css')
    link(rel='stylesheet', href='/resources/css/footer.css')
    block customcss
  body
    include header
    .container
      block content
  footer
    block customscripts
    include footer