extends layout

block head
  title Natural Exchange

block header
  h1 Here our site

block content
  h1 List of advertisements

block footer
  p If you find any errors, please contact us at : naturalexchangeco@gmail.com