extends layout/layout
block append customcss
  link(rel='stylesheet', href='/resources/css/newMain.css')
  link(rel='stylesheet', href='/resources/css/newList.css')
block content
  .content
    .container.head-things
      p.change-text ЗДЕСЬ ВЫ МОЖЕТЕ ОБМЕНЯТЬ
      .row1
        .games.col-md-4
          a.game-link(href='#')
            img.bones-image(src='/resources/images/bones.png')
            .bones-cover
              a.category-note(href='#')
                | НАСТОЛЬНЫЕ
                br
                | ИГРЫ
        .music.col-md-4
          a.music-link(href='#')
            img.music-image(src='/resources/images/score.png')
            .music-cover
              a.category-note(href='#')
                | МУЗЫКАЛЬНУЮ
                br
                | ЛИТЕРАТУРУ
        .liter.col-md-4
          a.liter-link(href='#')
            img.liter-image(src='/resources/images/book.png')
            .literature-cover
              a.category-note(href='#')
                | ХУДОЖЕСТВЕННУЮ
                br
                | ЛИТЕРАТУРУ
    .container.main-page
      p.many-other ... И МНОГОЕ ДРУГОЕ!
      .row
        .advertisement.col-md-3
          img.adv-image(src='/resources/images/littleThingImg.png')
          p.date 12 августа 2014
          a.adv-name(href='#') НАСТОЛКА ПО ВЛАСТЕЛИНУ КОЛЕЦ
          .name-cover
            a.adv-owner(href='#') Иван Константинопольский
          a.change-button(href='#') ОБМЕНЯТЬ
        .advertisement.col-md-3
          img.adv-image(src='/resources/images/anotherThing1.png')
          p.date 11 августа 2014
          a.adv-name(href='#') НАСТОЛКА 10000 ЛЕТ ДО НАШЕЙ ЭРЫ
          .name-cover
            a.adv-owner(href='#') Лена Солнышко
          a.change-button(href='#') ОБМЕНЯТЬ
        .advertisement.col-md-3
          img.adv-image(src='/resources/images/stPiter.png')
          p.date 11 августа 2014
          a.adv-name(href='#') БАРЫ ПЕТЕРБУРГА НАСТОЛЬНАЯ ИГРА
          .name-cover
            a.adv-owner(href='#') Mari Mari
          a.change-button(href='#') ОБМЕНЯТЬ
        .advertisement.col-md-3
          img.adv-image(src='/resources/images/starWars.png')
          p.date 11 августа 2014
          a.adv-name(href='#') ЗВЕЗДНЫЕ ВОЙНЫ ВОЙНА КЛОНОВ
          .name-cover
            a.adv-owner(href='#') Mari Mari
          a.change-button(href='#') ОБМЕНЯТЬ
      a.show-all(href='#') ПОСМОТРЕТЬ ВСЕ ОБЪЯВЛЕНИЯ
      p.about О ПРОЕКТЕ
      p.text-about
        | У вас много настольных игр, и вам уже надоело играть в одно и то же? Или, может быть, вы хотите поделиться хорошей музыкальной литераурой? А может быть, у вас есть интересные книги, которые вы уже перечитали миллион раз, и хочется чего-то новенького? Тогда вы попали по адресу!
      .exchange-block
        p.project NATURAL EXCHANGE
        p.text-about
          | -  это место, где обменивают настольные игры, художественную и музыкальную литературу, музыкальные инструменты и многое другое. Все просто. Вы находите на сайте понравившуюся вам вешь, и предлагаете ее владельцу обменяться. Если он согласен, вы обмениваетесь, и подтверждаете обмен.
      p.edification Обменивайтесь, оставляйте пользователям отзывы и оценки, и будет вам счастье!
      p.news УЗНАВАЙТЕ НОВОСТИ ПРОЕКТА ПЕРВЫМИ!
      .subscribe-cover
        form.subscribe-form
          input.for-email(type='text', placeholder='Ваш e-mail')
          input.submit-email(type='submit', value='ПОДПИСАТЬСЯ')