extends layout/layout
  block content
    div.placing
      div
        div.head-text ДОБАВЛЕНИЕ ПРЕДЛОЖЕНИЯ
        div.text Настольная игра "Монополия"
        select
          option НАСТОЛЬНЫЕ ИГРЫ
          option ХУДОЖЕСТВЕННАЯ ЛИТЕРАТУРА
          option ПРОЧЕЕ
      div
        div.file-text
          | mono.jpg
        button.red-text ВЫБРАТЬ ФАЙЛ
      textarea
      button ДОБАВИТЬ
