extends layout/layout

block append customcss
  link(rel='stylesheet', href='/resources/css/newPlacing.css')
  link(rel='stylesheet', href='/resources/css/newList.css')
block content
  div.placing-advert.nexchange-mainbg
    div.main-content
      div.head-text ДОБАВЛЕНИЕ ПРЕДЛОЖЕНИЯ
      div.form-placing
        form#placing-advert(method='post', action="placing.html", commandName="advertisementPlacingForm", enctype="multipart/form-data")
          input(type='text', placeholder="Заголовок", name="title").form-rounded-button.hollow-text.advertisement-title
          select.select-category(name="category")
            option(selected='selected', disabled='disabled') Выберите Категорию
            if (currentCategory == 'games')
              option.choosen-category(selected='selected', value='games', name="category") Игры
            else
              option.choosen-category(value='games') Игры
            if (currentCategory == 'clothes')
              option.choosen-category(selected='selected', value='clothes', name="category") Одежда
            else
              option.choosen-category(value='clothes') Одежда
            if (currentCategory == 'notclothes')
              option.choosen-category(selected='selected', value='notclothes', name="category") Не одежда
            else
              option.choosen-category(value='notclothes') Не одежда
          div.placing-file-and-tags
            label.border-file-choose.placing-file-choose
              div.file-button-hollow-text Выберите фотографию
              input#image(name = "image", type="file")
            div.choose-tags-and-button
              input(type='text', placeholder="Теги").placing-tag-form-rounded-button.hollow-text.placing-tag-choose.js-added-tag
              a#add-tag.reg-rounded-button.file-choose.placing-tag-add.js-add-tag ДОБАВИТЬ
              input(type='hidden', name="tags", value="").js-tags-chosen
            div.chosen-tags
          textarea(placeholder="Описание", name="text").form-rounded-button.hollow-text.placing-textarea
          div.placing-end-button
            input(type="submit", placeholder="ДОБАВИТЬ", value="ДОБАВИТЬ").rounded-button.adding-advert.small-tab-text
block append customjs
  script(src="/resources/js/badImage.js")
  script(src="/resources/js/newPlacing.js")
