extends layout/layout

block append customcss
  link(rel='stylesheet', href='/resources/css/newRegistrationResult.css')
block content
  .registrationResult
    div.center-text Ваше предложение очень важно для нас!
    div.button-goto-main
      a(href='#{uri.uri("/main.html")}').to-main-button НА ГЛАВНУЮ

