extends layout/layout

block append customcss
  link(rel='stylesheet', href='/resources/css/newPlacing.css')
  link(rel='stylesheet', href='/resources/css/newList.css')
block content
  div.placing-advert.nexchange-mainbg
    div.main-content
      div.head-text ДОБАВЛЕНИЕ ПРЕДЛОЖЕНИЯ
      div.form-placing
        form#placing-advert(method='get')
          input(type='text', placeholder="Заголовок").form-rounded-button.hollow-text.advertisement-title
          select.select-category
            option(disabled='disabled', selected='selected') Выберите категорию
            option.choosen-category НАСТОЛЬНЫЕ ИГРЫ
            option.choosen-category ХУДОЖЕСТВЕННАЯ ЛИТЕРАТУРА
            option.choosen-category ПРОЧЕЕ
          div.placing-file-and-tags
            div.border-file-choose.placing-file-choose
              div.file-hollow-text Фотография
              button#entry.reg-rounded-button.file-choose.file-button-pos ВЫБРАТЬ ФАЙЛ
            div.choose-tags-and-button
              input(type='text', placeholder="Теги").form-rounded-button.hollow-text.placing-tag-choose
              button#entry.reg-rounded-button.file-choose.placing-tag-add ДОБАВИТЬ
          textarea(placeholder="Описание").form-rounded-button.hollow-text.placing-textarea
          div.placing-end-button
            a(href='').rounded-button.adding-advert.small-tab-text ДОБАВИТЬ
