div.hidden
  div#registration-form
    form#enter(method='get')
      div.enter-head
        a(href='#entry-form').rounded.enter-ref.tab-text.js-entry ВХОД
        div.tab-and-exit
          div.rounded.registration-tab.tab-text  РЕГИСТРАЦИЯ
          a#reject.vk-cross-circle
      div.registration-form.nexchange-mainbg
        div.text-center.entry-text Чтобы обмениваться и размещать свои
        div.text-center.entry-text предложения, войдите или зарегистрируйтесь
        input#reg-email(type='email', placeholder='Ваш e-mail').form-rounded-button.hollow-text
        input#reg-first-name(type='text', placeholder='Ваше имя').form-rounded-button.hollow-text
        input#reg-last-name(type='text', placeholder='Ваша фамилия').form-rounded-button.hollow-text
        input#reg-pass(type='text', placeholder='Пароль').form-rounded-button.hollow-text
        //div.border-file-choose
          div.file-hollow-text
            | Фотография
          button#entry.reg-rounded-button.file-choose ВЫБРАТЬ ФАЙЛ
        div.reg-and-logo
          a#registr(href='').rounded-button.reg.small-tab-text.js-registration-complete ЗАРЕГЕСТРИРОВАТЬСЯ
          a(href='').vk-logo.logo-pos.js-vk-entry

