extends cabinet/cabinetLayout
block append customcss
  link(rel='stylesheet', href='/resources/css/newSearches.css')
block information
  p.saveSearchText СОХРАНЕННЫЕ ПАРАМЕТРЫ ПОИСКА
    for searchVariant in searchVariants
      .savingSearch
        a.deleteSearch(href='#')
          img(src='/resources/images/deleteNotActive.png')
        a.editSearch(href='#')
          img(src='/resources/images/editActive.png')
        .nameAndCategory
          a.thingName(href='#{uri.uri("/new/advertisement/list.html?keyWords=" + searchVariant.getKeyWords() + "&categories=" + searchVariant.getRealCategories())}') #{searchVariant.getKeyWords()}
          p.categoryName #{searchVariant.getRealCategories()}
        //a.tag(href='#') инструменты
        //a.tag(href='#') струнные
        //a.tag(href='#') укулеле
      p.spacer
        | ___________________________________________________________________________________________

