footer
  .footer
    div.end
      div.footer-text.subtext
        | Если у вас возникли вопросы:
        br
        a(href='mailto:naturalexchangeco@gmail.com').footer-text.blue-light-text
          | naturalexchangeco@gmail.com
      img(src="/resources/images/newdesign/logo.png").logo
    a(href='https://metrika.yandex.ru/stat/?id=26396094&from=informer', target='_blank', rel='nofollow')
      img(src='//bs.yandex.ru/informer/26396094/3_1_FFFFFFFF_EFEFEFFF_0_pageviews', style='position: absolute; left: -9999px; width: 88px; height: 31px; border: 0;', alt='Яндекс.Метрика', title='Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)', onclick='try{Ya.Metrika.informer({i:this,id:26396094,lang:\'ru\'});return false}catch(e){}')
    script(type='text/javascript')
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter26396094 = new Ya.Metrika({id:26396094,
      webvisor:true,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true});
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='//mc.yandex.ru/watch/26396094', style='position: absolute; left: -9999px;', alt='')
