footer
  .footer
    div.end
      div.footer-text.subtext
        | Если у вас возникли вопросы:
        br
        a(href='mailto:naturalexchangeco@gmail.com').footer-text.blue-light-text
          | naturalexchangeco@gmail.com
      img(src="/resources/images/newdesign/logo.png").logo
    //#vk_like_main.vk-link
    //  p Понравился проект? Расскажи друзьям!
    //  script(src="/resources/js/vkWigetScript.js")
