footer
  .footer
    div.end
      div.footer-text.subtext
        | Если у вас возникли вопросы:
        br
        span.footer-text.blue-light-text
          | naturalexchange@7bits.it
      img(src="/resources/images/newdesign/logo.png").logo
      div.footer-text.end-title
        | © Стажировка-2014,
        span.footer-text.blue-light-text 7bits
    #vk_like_main.vk-link
      p Понравился проект? Расскажи друзьям!
      script(src="/resources/js/vkWigetScript.js")
