.header
  .right-top-links
    a.entire.js-entry(href='#entry-form') Вход
    | /
    a.registration.js-registration(href='#registration-form') Регистрация
  .left-top-logo
    img.top-image(src='/resources/images/logotype.png', align='left')
    .n-exchange
      | NATURAL
      br
      | EXCHANGE
  .main-links
    ul.menu-list
      li
        a.add-advertisement(href='#') ДОБАВИТЬ ПРЕДЛОЖЕНИЕ
      li
        a.common-link(href='#') ВСЕ ПРЕДЛОЖЕНИЯ
      li
        a.common-link(href='#') ГЛАВНАЯ