.head-component
  .header
    .right-top-links
      if auth.isAuthenticated()
        a(href='').entire Личный кабинет
        | /
        a(href='#{uri.uri("/user/logout.html")}').registration Выход
      else
        a(href='#entry-form').entire.js-entry Вход
        | /
        a(href='#registration-form').registration.js-registration Регистрация
    .left-top-logo
      img.top-image(src='/resources/images/logotype.png', align='left')
      .n-exchange
        | NATURAL
        br
        | EXCHANGE
    .main-links
      ul.menu-list
        li
          a.add-advertisement(href='/new/advertisement/placing.html') ДОБАВИТЬ ПРЕДЛОЖЕНИЕ
        li
          a.common-link(href='/new/advertisement/list.html') ВСЕ ПРЕДЛОЖЕНИЯ
        li
          a.common-link(href='/new/main.html') ГЛАВНАЯ