!!! 5
html
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='/resources/css/newError.css')
    link(rel='stylesheet', href='/resources/css/bodyArt.css')
  body
    .error-message
      p.error-code ОШИБКА 404
      p.error-text Такой страницы не существует

